USE [master]
GO
/****** Object:  Database [dbVideo]    Script Date: 04-08-2021 2.15.28 AM ******/
CREATE DATABASE [dbVideo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbVideo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbVideo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbVideo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbVideo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbVideo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbVideo]
GO
/****** Object:  Table [dbo].[tbCustomer]    Script Date: 04-08-2021 2.15.28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCustomer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CustName] [varchar](50) NULL,
	[CustEmail] [varchar](50) NULL,
	[CustPhone] [varchar](50) NULL,
	[CustAdr] [varchar](50) NULL,
 CONSTRAINT [PK_tbCustomer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbRental]    Script Date: 04-08-2021 2.15.28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRental](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MID] [int] NULL,
	[CID] [int] NULL,
	[IssueDate] [varchar](50) NULL,
	[ReturnDate] [varchar](50) NULL,
 CONSTRAINT [PK_tbRental] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbVideos]    Script Date: 04-08-2021 2.15.28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbVideos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[VTitle] [varchar](50) NULL,
	[Rating] [varchar](50) NULL,
	[VYear] [varchar](50) NULL,
	[VCost] [varchar](50) NULL,
	[VCopy] [varchar](50) NULL,
	[VPlot] [varchar](50) NULL,
	[VGenre] [varchar](50) NULL,
 CONSTRAINT [PK_tbVideos_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbVideos11]    Script Date: 04-08-2021 2.15.28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbVideos11](
	[id] [int] NOT NULL,
	[VTitle] [varchar](50) NULL,
	[Rating] [varchar](50) NULL,
	[VYear] [varchar](50) NULL,
	[VCost] [varchar](50) NULL,
	[VCopy] [varchar](50) NULL,
	[VPlot] [varchar](50) NULL,
	[VGenre] [varchar](50) NULL,
 CONSTRAINT [PK_tbVideos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbCustomer] ON 

INSERT [dbo].[tbCustomer] ([id], [CustName], [CustEmail], [CustPhone], [CustAdr]) VALUES (1, N'qw', N'qw@gmail.com', N'123', N'qwe')
SET IDENTITY_INSERT [dbo].[tbCustomer] OFF
GO
SET IDENTITY_INSERT [dbo].[tbRental] ON 

INSERT [dbo].[tbRental] ([id], [MID], [CID], [IssueDate], [ReturnDate]) VALUES (1, 1, 1, N'02-08-2021', N'02-08-2021')
SET IDENTITY_INSERT [dbo].[tbRental] OFF
GO
SET IDENTITY_INSERT [dbo].[tbVideos] ON 

INSERT [dbo].[tbVideos] ([id], [VTitle], [Rating], [VYear], [VCost], [VCopy], [VPlot], [VGenre]) VALUES (1, N'pk', N'4.5', N'2020', N'5', N'5', N'ok', N'bye')
SET IDENTITY_INSERT [dbo].[tbVideos] OFF
GO
USE [master]
GO
